{% extends 'base.twig' %}


	{% block page %}
		<div class="d-flex row me-auto mx-auto" style="width: 600px;">
				<h3 class="text-center">Votre achat a bien été pris en compte !</h3>
				<a class="btn mt-2" style="background-color: #5627A6 ; color: white" href="index.php">Retour à l'accueil</a>
		</div>
	{% endblock %}