{% extends 'base.twig' %}

	{% block banniere %}
		<img width="100%" height="300px" class="object-fit-cover" src="./image/site/back.png" alt="banniere"/>
		<h1 class="fs-1 fw-bold text-center text-white" style="margin-top: -200px; margin-bottom: 200px;">Mentions légales</h1>
	{% endblock %}	

	{% block page %}
		<div style="width: 1000px;">
				<h2>Mentions légales pour le site web "MYZIC"</h2>

				<h3 class="mt-4" style="color: #FE4682">1. Informations générales</h3>

				<h4 style="color: #5627A6">Éditeur du site :</h4>
				<p>SALY Théo, créateur du site "MYZIC"<br>
				Projet réalisé dans le cadre du BUT MMI (Métiers du Multimédia et de l'Internet)<br>
				SAE301 - Université de Strasbourg</p>

				<h4 style="color: #5627A6">URL du site :</h4>
				<p><a href="https://tp2.iha.unistra.fr/~saly/SAE301_SALY_Theo/index.php">https://tp2.iha.unistra.fr/~saly/SAE301_SALY_Theo/index.php</a></p>

				<h3 class="mt-4" style="color: #FE4682">2. Publications de Partitions</h3>

				<p><strong style="color: #5627A6">Partitions gratuites ou payantes :</strong><br>
				Le site "MYZIC" permet aux utilisateurs de publier des partitions musicales gratuitement ou de les proposer à la vente. Les utilisateurs ont la possibilité d'acheter ou de télécharger des partitions en tant que clients.</p>

				<h3 class="mt-4" style="color: #FE4682">3. Cours de Musique</h3>

				<p><strong style="color: #5627A6">Proposés par des enseignants :</strong><br>
				"MYZIC" offre la possibilité de proposer des cours de musique. Les cours sont dispensés par des enseignants qualifiés. Les conditions de participation et les tarifs sont définis par les enseignants eux-mêmes.</p>

				<h3 class="mt-4" style="color: #FE4682">4. Vente d'Objets de Musique d'Occasion</h3>

				<p><strong style="color: #5627A6">Annonces et Contacts :</strong><br>
				La plateforme propose une section dédiée à la vente d'objets de musique d'occasion. Les utilisateurs ont la possibilité de publier des annonces pour vendre leurs objets. "MYZIC" facilite le contact entre vendeurs et acheteurs, mais aucune transaction financière n'est effectuée directement sur le site.</p>

				<h3 class="mt-4" style="color: #FE4682">5. Responsabilités</h3>

				<p><strong style="color: #5627A6">Transaction financière :</strong><br>
				"MYZIC" n'intervient pas dans les transactions financières entre utilisateurs. Les transactions liées aux cours de musique et à la vente d'objets de musique d'occasion se font directement entre les parties concernées.</p>

				<p><strong style="color: #5627A6">Contenu des partitions :</strong><br>
				Les utilisateurs sont responsables du contenu des partitions publiées. "MYZIC" se réserve le droit de retirer tout contenu jugé inapproprié ou en violation des droits d'auteur.</p>

				<h3 class="mt-4" style="color: #FE4682">6. Données Personnelles</h3>

				<p><strong style="color: #5627A6">Collecte et Utilisation :</strong><br>
				"MYZIC" collecte des données personnelles dans le cadre de son fonctionnement. Les utilisateurs sont informés et consents à la collecte de leurs données. Les données collectées ne sont pas transmises à des tiers sans le consentement de l'utilisateur.</p>

				<p><strong style="color: #5627A6">Cookies :</strong><br>
				Le site utilise des cookies à des fins statistiques et d'amélioration de l'expérience utilisateur. Les utilisateurs peuvent configurer leur navigateur pour refuser les cookies.</p>

				<h3 class="mt-4" style="color: #FE4682">7. Contact</h3>

				<p><strong style="color: #5627A6">Adresse de Contact :</strong><br>
				Pour toute question ou réclamation, vous pouvez contacter l'équipe de "MYZIC" à l'adresse suivante : <a href="mailto:contact@myzic.com">contact@myzic.com</a></p>

				<h3 class="mt-4" style="color: #FE4682">8. Hébergement</h3>

				<p><strong style="color: #5627A6">Serveur :</strong><br>
				Le site est hébergé sur les serveurs de l'Université de Strasbourg.</p>

				<p>Ces mentions légales sont fournies à titre d'exemple et peuvent nécessiter une adaptation en fonction des spécificités de votre site et des lois locales. Il est recommandé de consulter un professionnel du droit pour s'assurer que les mentions légales sont conformes à la législation en vigueur.</p>

			</div>
	{% endblock %}

